body{
    margin:0;
    padding: 1;
}
.container{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding: 200px;
}

.item img{
    width: 300px;
    height: 300px;
}
.vs{
    margin: 30px;
    color: red;
}